[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
click = "*"
pre-commit = "*"
pytest = "*"
pytest-parallel = "*"

[requires]
python_version = "3.7"
