[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
selenium = "*"
click = "*"
pre-commit = "*"
pytest = "*"
pytest-parallel = "*"
requests = "*"
pymysql = "*"
"ruamel.yaml" = "*"

[requires]
python_version = "3.6.9"
